rs.initiate()
{% for host in groups['backend_servers'] %}

rs.add({ 
  host: "{{host}}", 
  priority: {{hostvars[host]['priority']}},
  arbiterOnly: {{hostvars[host]['arbiterOnly']}}
})
{% endfor %}

printjson(rs.status())