<HTML>
<HEAD>
<TITLE>ADV-IT</TITLE>
<BODY>TEST</BODY>
<BODY>TEST2</BODY>
Server Host Name: {{ ansible_hostname }}<br>
IP Adress {{ ansible_default_ipv4.address }}<br>
Vladelec {{ owner }}<br>
</HTML>
